.content {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 95% 80%,
    rgba(27, 120, 222, 1) 0%,
    rgba(15, 66, 121, 1) 19%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 95% 80%,
    rgba(27, 120, 222, 1) 0%,
    rgba(15, 66, 121, 1) 19%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 95% 80%,
    rgba(27, 120, 222, 1) 0%,
    rgba(15, 66, 121, 1) 19%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 95% 80%,
    rgba(27, 120, 222, 1) 0%,
    rgba(15, 66, 121, 1) 19%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 95% 80%,
    rgba(27, 120, 222, 1) 0%,
    rgba(15, 66, 121, 1) 19%
  );

  padding: 3.5rem;

  @media (max-width: 550px) {
    padding: 1.5rem;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 2rem 0;

  @media (max-width: 650px) {
    padding: 1rem 0;
  }
}

.feature__header {
  padding-bottom: 2rem;

  article {
    p {
      max-width: 710px !important;
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  @media (max-width: 650px) {
    padding-bottom: 1rem;
  }
}

.feature__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding-top: 2rem;

  article {
    flex-direction: column;
  }

  @media (max-width: 750px) {
    flex-direction: column;
  }

  @media (max-width: 650px) {
    padding-top: 1rem;
    gap: 20px;
  }
}
