.title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
}

.link {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 1.5rem;
  display: inline-block;
  max-width: 116px;
}
